<!DOCTYPE html>
<html>
<title>Games</title>
<% include partials/head.ejs %>
  
  
  <script>    


    $(document).ready(function() {
      loadGames();
    });
   
  </script>
  
<body class="w3-light-grey">



</body>
</html>