<!DOCTYPE html>
<html>

<head>
	<title>Contacts</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="/css/featherlight.min.css" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/client.js"></script>
	<style>
		html,
		body,
		h1,
		h2,
		h3,
		h4,
		h5 {
			font-family: "Raleway", sans-serif
		}
    #map{
      height:400px;
      width:100%;
    }
	</style>
	<!-- Header with meta tags and references   -->

</head>

<body class="w3-light-grey">


	<!-- Top container -->
	<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
		<button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
		<span class="w3-bar-item w3-right">CRM <span class="crm-logo">database system applicaton</span</span>
	</div>

	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-collapse w3-white" style="z-index:3;width:300px;" id="mySidebar"><br>
		<div class="w3-container w3-row">
			<div class="w3-col s4">
				<img src="/images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
			</div>
			<div class="w3-col s8 w3-bar">
				<span>Welcome, <strong>Mike</strong></span><br>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
			</div>
		</div>
		<hr>
		<div class="w3-container">
			<h5>Dashboard</h5>
		</div>
		<div class="w3-bar-block">
			<a href="/" class="w3-bar-item w3-button w3-padding" id="home-button"><i class="fa fa-bullseye fa-fw"></i>&nbsp; Dashboard</a>
			<a href="/contacts" class="w3-bar-item w3-button w3-padding" id="contacts-button"><i class="fa fa-users fa-fw"></i>&nbsp; Contacts</a>
			<a href="/accounts" class="w3-bar-item w3-button w3-padding" id="accounts-button"><i class="fa fa-bank fa-fw"></i>&nbsp; Accounts</a>

		</div>
	</nav>


	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


	<!-- Top container -->
	<!-- Sidebar/menu -->
	<!-- Overlay effect when opening sidebar on small screens -->


	<!-- !PAGE CONTENT!   -->
	<div class="w3-main" style="margin-left:300px;margin-top:43px;">

		<header class="w3-container" style="padding-top:22px">
			<h5><b><i class="fa fa-dashboard"></i> Contact </b></h5>
		</header>






		<div class="container record-container">


			<h4 class="w3-center"><span class="glyphicon glyphicon-user record-icon"></span>Damien Fleminks</h4>

			<div class="col-xs-12">
				<hr class="horizontal-line" />
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="row mgbt-xs-0">
						<label class="col-xs-4 control-label">First Name:</label>
						<div class="col-xs-8 controls">Damien</div>

					</div>
				</div>
				<div class="col-sm-6">
					<div class="row mgbt-xs-0">
						<label class="col-xs-4 control-label">Last Name:</label>
						<div class="col-xs-8 controls">Fleminks</div>

					</div>
				</div>
				<div class="col-sm-6">
					<div class="row mgbt-xs-0">
						<label class="col-xs-4 control-label">Title</label>
						<div class="col-xs-8 controls">Engineer</div>

					</div>
				</div>
				<div class="col-sm-6">
					<div class="row mgbt-xs-0">
						<label class="col-xs-4 control-label">Account</label>
						<div class="col-xs-8 controls">Salesforce</div>

					</div>
				</div>



				<div class="col-sm-6">
					<div class="row mgbt-xs-0">
						<label class="col-xs-4 control-label">Phone</label>
						<div class="col-xs-8 controls">871932517</div>

					</div>
				</div>
				<div class="col-sm-6">
					<div class="row mgbt-xs-0">
						<label class="col-xs-4 control-label">Email</label>
						<div class="col-xs-8 controls">damien@fleminks.com</div>

					</div>
				</div>

				<div class="col-xs-12">
					<hr class="horizontal-inline" />
				</div>
				<div class="col-sm-6">
					<div class="row mgbt-xs-0">
						<label class="col-xs-4 control-label">Address:</label>
						<div class="col-xs-8 controls">
							14 Temple Square , <br /> Dublin, <br /> Ireland
						</div>

					</div>
				</div>
				<div class="col-sm-6">
					<div class="row mgbt-xs-0">
						<label class="col-xs-4 control-label">Description</label>
						<div class="col-xs-8 controls">Working as salesforce in enterprise department</div>

					</div>
				</div>

			</div>
			<!--Map fuctionality-->
		

</head>
<body>
  <h3>Your location</h3>
  <div id="map"></div>

<!--end of map-->
			
			
			
			

		</div>









		<footer class="w3-container w3-padding-16 w3-light-grey">
			<!-- <h4>Designed by Damian &amp; Boris </h4>-->
		</footer>

		<!-- Footer -->


	</div>

		<!--MAP script-->	
			
	  <script>
    function initMap(){
      // Map options
      var options = {
        zoom:8,
        center:{lat:53.3330556,lng:-6.2488889}
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);

      // Listen for click on map
      google.maps.event.addListener(map, 'click', function(event){
        // Add marker
        addMarker({coords:event.latLng});
      });

      /*
      // Add marker
      var marker = new google.maps.Marker({
        position:{lat:42.4668,lng:-70.9495},
        map:map,
        icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
      });

      var infoWindow = new google.maps.InfoWindow({
        content:'<h1>Lynn MA</h1>'
      });

      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });
      */
  
			
			/*
      // Array of markers
      var markers = [
        {
          coords:{lat:42.4668,lng:-70.9495},
          iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          content:'<h1>Lynn MA</h1>'
        },
        {
          coords:{lat:42.8584,lng:-70.9300},
          content:'<h1>Amesbury MA</h1>'
        },
        {
          coords:{lat:42.7762,lng:-71.0773}
        }
      ];
      
			*/
			var markers = [
					{
				
           "FirstName": "Damien",

           "LastName": "Fleminks",

           "Title": "Engineer",

           "Account": "Salesforce",

           "Phone": "871932517",

           "Email": "damien@fleminks.com",

           "Address": "14 Temple Square",

           "City": "Dublin",

           "State": "",

           "Zipcode": "",

           "Country": "Ireland",

           "Description": "Working as salesforce in enterprise department",

           "Id": "con12",
					 coords:{lat:53.345679,lng:-6.262960}

       }];
			
			
			
			
      // Loop through markers
      for(var i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
      }

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          //icon:props.iconImage
        });

        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }

        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3m_4_-3nSH9_JrDQN621VvNfpNF7NQpg&callback=initMap">
    </script>
			
			<!--end map stcript-->
			
			
			
			
	<script>
		//Adding contact object in variable for easy editing
		var contactRecord = [object Object];
		console.log("Saving Contact in variable,\n Adding Contact: " + contact.FirstName);

		$(document).ready(function() {

			//Highlights contacts button when active
			$('#contacts-button').addClass('w3-blue');
		});
	</script>
	<script src="/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>