<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Google Map</title>
  <style>
   
    html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
      
}
    #main {
      width: 100%;
      height: 40%;
    }
    	#name {color: red;} 
  </style>
</head>
  <div id="main">
   
<body>
  	<% include partials/head.ejs %>
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<div id="map" style="border: 2px solid #3872ac;"></div>
  <script>
  var map;
var icon = "http://path/to/icon.png";
var json = "http://path/to/universities.json";
var infowindow = new google.maps.InfoWindow();
function initialize() {

    var mapProp = {
        center: new google.maps.LatLng(52.4550, -3.3833), //LLANDRINDOD WELLS
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("map"), mapProp);

    //  $.getJSON(json, function(json1) {
   /* var json1 = {
       "universities": [
            {
                "title": "Aberystwyth University",
                "website": "www.aber.ac.uk",
                "phone": "+44 (0)1970 623 111",
                "lat": 52.415524,
                "lng": -4.063066},
            {
                "title": "Bangor University",
                "website": "www.bangor.ac.uk",
                "phone": "+44 (0)1248 351 151",
                "lat": 53.229520,
                "lng": -4.129987},
            {
                "title": "Cardiff Metropolitan University",
                "website": "www.cardiffmet.ac.uk",
                "phone": "+44 (0)2920 416 138",
                "lat": 51.482708,
                "lng": -3.165881}
        ]
    }; */
          // Using  "<-%   %>" to get the data variable from app.js when redering the file and stringify it so it will be added to a new variable as an array  
   				var json1 = <%- JSON.stringify(location) %>;

    
    $.each(json1.universities, function (key, data) {

        var latLng = new google.maps.LatLng(data.lat, data.lng);

        var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            // icon: icon,
            title: data.title
        });

        var details = data.website + ", " + data.phone + ".";

        bindInfoWindow(marker, map, infowindow, details);

        //  });

    });

}

function bindInfoWindow(marker, map, infowindow, strDescription) {
    google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent(strDescription);
        infowindow.open(map, marker);
    });
}

google.maps.event.addDomListener(window, 'load', initialize);
  </script>

 
  
  
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3m_4_-3nSH9_JrDQN621VvNfpNF7NQpg&callback=initMap">
    </script>
  <script src="/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
   </div>
  <div id='user_data'>
  
    <!-- !PAGE CONTENT! -->
		<div class="w3-main" style="margin-left:300px;margin-top:43px;">

			<div class="lightbox" id="fl1">


				<div class="field">
					<label for="firstname">Name</label>
					<input id="name" type="text" placeholder="Name" name="Name"
								 placeholder="John Doe">
				</div>
				<div class="field">
					<label for="Industry">Industry</label>
					<input type="text" placeholder="Industry" name="Industry" 
								 placeholder="IT">
				</div>
				<div class="field">
						<label for="Phone">Phone</label>
					<input type="text" placeholder="Phone" name="Phone" 
								 placeholder="tel">
				</div>
				<div class="field">
						<label for="Employees">Employees</label>
					<input type="text" placeholder="Employees" name="Employees" 
								 placeholder="Emp">
				</div>
				<div class="field">
					<label for="Website">Website</label>
					<input type="text" placeholder="Website" name="Website" placeholder="www.nci.com">
				</div>
				<div class="field">
					<button type="button" onclick="postAccounts()">Submit</button>
				</div>

			</div>
<!--my code
<div class="container">
  <h2>Registration</h2>
  <form action="" name="registration">

    <label for="firstname">First Name</label>
    <input type="text" name="firstname" id="firstname" placeholder="John">

    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" id="lastname" placeholder="Doe">

    <label for="email">Email</label>
    <input id="email" type="email" name="email" id="email" placeholder="john@doe.com">

    <label for="password">Password</label>
    <input id="pass" type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">

    <button type="submit">Register</button>
  </form>

  <div class="article-reference">
    This example is part of the article
    <a href="https://www.sitepoint.com/basic-jquery-form-validation-tutorial/" target="_blank">Basic jQuery Form Validation Example</a> on <a href="http://sitepoint.com/" target="_blank">SitePoint</a> by
    <a href="https://github.com/julmot" target="_blank">Julian Motz</a>.
  </div>
</div>
			
	<!--my code-->		

			<div class="w3-container">
				<header class="w3-container" style="padding-top:22px">
					<h5><b><i class="fa fa-dashboard"></i>Accounts</b></h5>
				</header>

				<button class="w3-button w3-dark-grey add-button" data-featherlight=".lightbox">Add Account &nbsp;<i class="glyphicon glyphicon-plus"></i></button>
				<div class="w3-animate-left table-responsive">
					<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="contact-table-container">
						<thead>
							<th>Name</th>
							<th>Industry</th>
							<th>Phone</th>
							<th>Employees</th>
							<th>Website</th>
						</thead>
		
					</table>
				</div>
				<br>
			</div>


			<% include partials/footer.ejs %>
				<!-- Footer -->


		</div>

		<script>
			$(document).ready(function() {
				//Call Ajax function to load contacts table

        
        //load accouts form client js file
        loadAccounts();
				//Highlights contacts button when active
				$('#accounts-button').addClass('w3-blue');
			});
		</script>
		<script src="/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  
</body>
    
    </div>
</body>
</html>
