
<!DOCTYPE html>
<html>
<head>
	<title>W3.CSS Template</title>
	
	<% include partials/head.ejs %>
	<!-- Header with meta tags and references -->
	
</head> 
	
<body class="w3-light-grey">

	<% include partials/nav.ejs %>
	<!-- Top container -->
	<!-- Sidebar/menu -->
	<!-- Overlay effect when opening sidebar on small screens -->


	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left:300px;margin-top:43px;">

	 <header class="w3-container" style="padding-top:22px">
			<h5><b><i class="fa fa-dashboard"></i> Customers</b></h5>
		</header>




		<div class="w3-row-padding w3-margin-bottom">
			<div class="w3-quarter">
				<div class="w3-container w3-red w3-padding-16">
					<div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>52</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Messages</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-blue w3-padding-16">
					<div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>99</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Views</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-teal w3-padding-16">
					<div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>23</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Shares</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-orange w3-text-white w3-padding-16">
					<div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>50</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Users</h4>
				</div>
			</div>
		</div>

		<div class="w3-panel">
			<div class="w3-row-padding" style="margin:0 -16px">
				<div class="w3-third">
					<h5>Regions</h5>
					 </div>
 <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="450" src="https://maps.google.com/maps?hl=en&q=114 holywell park swords&ie=UTF8&t=roadmap&z=12&iwloc=B&output=embed"></iframe>
</div> 
				</div>
				<div class="w3-twothird">
					<h5>Feeds</h5>
					<table class="w3-table w3-striped w3-white">
						<tr>
							<td><i class="fa fa-user w3-text-blue w3-large"></i></td>
							<td>New record, over 90 views.</td>
							<td><i>10 mins</i></td>
						</tr>
						<tr>
							<td><i class="fa fa-bell w3-text-red w3-large"></i></td>
							<td>Database error.</td>
							<td><i>15 mins</i></td>
						</tr>
						<tr>
							<td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
							<td>New record, over 40 users.</td>
							<td><i>17 mins</i></td>
						</tr>
						<tr>
							<td><i class="fa fa-comment w3-text-red w3-large"></i></td>
							<td>New comments.</td>
							<td><i>25 mins</i></td>
						</tr>
						<tr>
							<td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
							<td>Check transactions.</td>
							<td><i>28 mins</i></td>
						</tr>
						<tr>
							<td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
							<td>CPU overload.</td>
							<td><i>35 mins</i></td>
						</tr>
						<tr>
							<td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
							<td>New shares.</td>
							<td><i>39 mins</i></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<hr>
		<div class="w3-container">
			<h5>General Stats</h5>
			<p>New Visitors</p>
			<div class="w3-grey">
				<div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
			</div>

			<p>New Users</p>
			<div class="w3-grey">
				<div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
			</div>

			<p>Bounce Rate</p>
			<div class="w3-grey">
				<div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
			</div>
		</div>
		<hr>

		
		<% include partials/footer.ejs %>
		<!-- Footer -->


		
	</div>
 <script>
  
	//Highlight home button when active
	$(document).ready(function(){
		//Highlights contacts button when active
		$('#home-button').addClass('w3-blue');
	});
	

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3m_4_-3nSH9_JrDQN621VvNfpNF7NQpg&callback=initMap"
  type="text/javascript"></script>
</body>
</html>