<html>

<head>
	  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
		<link type="text/css" rel="stylesheet" href="/css/featherlight.min.css" />
		<style type="text/css">
			.lightbox { display: none; };
		</style>
</head>

<body>
	
	<a class="btn btn-default" href="#" data-featherlight="#fl1">Default</a>

			<div class="lightbox" id="fl1">
			<h2>Featherlight Default</h2>
			<p>
				This is a default featherlight lightbox.<br>
				It's flexible in height and width.<br>
				Everything that is used to display and style the box can be found in the <a href="https://github.com/noelboss/featherlight/blob/master/src/featherlight.css">featherlight.css</a> file which is pretty simple.</p>
		</div>

		
		<script src="/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>
	


</html>