
/* Lightbox Styling  */
.add-lightbox, .update-lightbox {display: none;};

/* Make tables mobile friendly*/
.table-responsive{overflow-x: auto;}

/* CRM logo mobile friendly */
@media screen and (max-width: 500px) {
  .crm-logo{
    display:none;  
  }
} 

/* Object tables and buttons */
.add-button{
  margin-bottom:1%;
  margin-top:1%;
}


/* test CSS for highlighting selected row */
.selected-row{background-color:#ccc}




/* Search function  */

#myInput {
    background-image: url('/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100% auto;
    font-size: 13px;
    padding: 8px 10px 8px 50px;
    border: 1px solid #ddd;
    margin-bottom: 12px;

}



/* Form styling for adding new records */

.form-container{
  font-weight: 300;
  color: rgb(112, 110, 107);
}
.form-header{
  border-bottom: 2px solid rgb(221, 219, 218);
  margin-bottom: 3%;


}
.form-header h2{
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: center;
  color: rgb(112, 110, 107);
}

.table-responsive a{
  text-decoration: underline;
}
.table-responsive a:hover{
  color:#2196F3;
}

.required-input{
  color: rgb(194, 57, 52);
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.4em;
  float: left;
  padding-right: 2px;
  margin-bottom: -10px;
}




/*   Single record page   */

.record-container{
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 90%;
  background-color: white;
  border-radius: 6px;
  /* Shadow */
  -webkit-box-shadow: -4px -4px 18px -3px rgba(171,171,171,0.74);
  -moz-box-shadow: -4px -4px 18px -3px rgba(171,171,171,0.74);
  box-shadow: -4px -4px 18px -3px rgba(171,171,171,0.74);
}


.record-container .control-label{
  color: rgb(112, 110, 107);
  font-size: .80rem;
  line-height: 1.5;
  margin-bottom: .125rem;

}

.record-container .controls{
  font-weight: 400;
  color: rgb(43, 40, 38);
  font-size: 1rem;
}

.record-container .col-sm-6 {
  padding:1%;
  padding-left: 2%;
  margin-left: 3%;
  width:47%;
}


.horizontal-line{
  border: 1px solid rgb(221, 219, 218);
  margin-top: 4%;
  margin-bottom: 4%;

}
.horizontal-inline{
  1px solid rgb(221, 219, 218);
  margin-top: 4%;
  margin-bottom: 4%;
}

.record-icon{
  margin-right: 4%;
}


@media screen and (min-width: 1170px){
  .record-container{
    width:800px;
  }
}



/*  Footer styling  */
footer {
  text-align: center;
  
}