
/* Lightbox Styling  */
.lightbox {display: none;};

/* Make tables mobile friendly*/
.table-responsive{overflow-x: auto;}

/* CRM logo mobile friendly */
@media screen and (max-width: 500px) {
  .crm-logo{
    display:none;  
  }
} 

/* Object tables and buttons */
.add-button{
  margin-bottom:1%;
  margin-top:1%;
}