<!doctype html>
<html lang="en" ng-app>

<head>
  <title>World Countries and Capitals</title>
  <meta placeholder="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }
  </style>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    function load() {
      $.ajax({
        url: "/get/test",
        cache: false,
        success: function(json) {
          $(".container").append(json);
        }
      });
    };

    $(document).ready(function() {
      load();
    });
  </script>
</head>

<body>
  <div class="container">
   
  </div>
</body>

</html>